In [6]:
import yfinance as yf
import numpy as np
import pandas as pd
import statistics

In [4]:
actives = {'auto' : {'Lifan' : '601777.SS', 'Cherry' : 'CHMI', 'SAIC Motor Corporation Limited' : '600104.SS'},
            'IT'  : {'Tencent Holdings' : '0700.HK', '360 Security Technology' : '601360.SS', 'Xiaomi' : '1810.HK'},
            'metallurgy' : {'Baotou Steel' : '600010.SS' , 'Hesteel Group' : '000709.SZ', 'Angang Steel' : '0347.HK'},
            'banks' :  {'Industrial and Commercial Bank of China' : '1398.HK', 'China Construction Bank' : '0939.HK'}}
codes = []
for k, v in actives.items():
    for kk, vv in v.items():
        codes.append(vv)
        
actives = yf.download(codes, start="2017-12-29", end="2018-12-31")

[*********************100%***********************]  11 of 11 completed

In [9]:
actives

           Adj Close                                                    \
           000709.SZ   0347.HK     0700.HK   0939.HK   1398.HK 1810.HK
Date
2017-12-28       NaN       NaN         NaN       NaN       NaN     NaN
2017-12-29  3.645817  4.874455  402.896637  6.134697  5.372819     NaN
2018-01-02  3.692559  4.997167  414.606445  6.322147  5.535115     NaN
2018-01-03  3.879524  4.969896  418.972839  6.313627  5.552199     NaN
2018-01-04  3.814085  5.051708  428.499420  6.449953  5.611991     NaN
...              ...       ...         ...       ...       ...     ...
2018-12-24  2.801359  3.739574  308.887207  5.684891  4.965004   13.16
2018-12-25  2.753059       NaN         NaN       NaN       NaN     NaN
2018-12-26  2.733740       NaN         NaN       NaN       NaN     NaN
2018-12-27  2.733740  3.788968  307.892731  5.666986  4.902042   12.92
2018-12-28  2.743400  3.753690  308.290527  5.693843  4.911036   12.94

                                                      ...      Volume  \
           600010.SS  600104.SS  601360.SS 601777.SS  ...     0347.HK
Date                                                  ...
2017-12-28       NaN        NaN        NaN       NaN  ...         NaN
2017-12-29  2.441194  27.455509  45.707329      7.26  ...   7144975.0
2018-01-02  2.480888  27.224142  45.707329      7.33  ...  26982441.0
2018-01-03  2.490812  27.018482  45.707329      7.34  ...  25416527.0
2018-01-04  2.480888  27.104174  45.707329      7.29  ...  17096157.0
...              ...        ...        ...       ...  ...         ...
2018-12-24  1.533304  23.380507  21.389189      3.93  ...   2905822.0
2018-12-25  1.513391  23.724070  20.762728      3.86  ...         NaN
2018-12-26  1.503435  24.185171  20.414694      3.85  ...         NaN
2018-12-27  1.463609  24.555861  20.046772      3.73  ...   7975411.0
2018-12-28  1.473565  24.112843  20.255594      3.81  ...   6515527.0

                                                                           \
               0700.HK      0939.HK      1398.HK     1810.HK    600010.SS
Date
2017-12-28         NaN          NaN          NaN         NaN          NaN
2017-12-29  16601658.0  270617828.0  198174573.0         NaN   64477666.0
2018-01-02  24080505.0  404126442.0  424057742.0         NaN   81626535.0
2018-01-03  22780154.0  348984978.0  411577497.0         NaN   66821799.0
2018-01-04  27904538.0  634437192.0  391732554.0         NaN   62793532.0
...                ...          ...          ...         ...          ...
2018-12-24  14579845.0  202339786.0  213105361.0  10519067.0   80941232.0
2018-12-25         NaN          NaN          NaN         NaN  193804523.0
2018-12-26         NaN          NaN          NaN         NaN   78444573.0
2018-12-27  17646140.0  142253165.0  170826965.0  16268154.0  226700302.0
2018-12-28  11541991.0  149379679.0  161697117.0  18540002.0   98392614.0


             600104.SS  601360.SS  601777.SS      CHMI
Date
2017-12-28         NaN        NaN        NaN  173400.0
2017-12-29  28975390.0        0.0  4059468.0   88400.0
2018-01-02  22611507.0        0.0  4667429.0  220200.0
2018-01-03  31379496.0        0.0  6049583.0  205500.0
2018-01-04  23760307.0        0.0  4343089.0  167600.0
...                ...        ...        ...       ...
2018-12-24  21503530.0  2280718.0  4023444.0   98300.0
2018-12-25  25630294.0  5384333.0  6438724.0       NaN
2018-12-26  42561333.0  3347679.0  2944340.0  203200.0
2018-12-27  50459600.0  3569815.0  4128800.0  209300.0
2018-12-28  38522795.0  2953903.0  5080650.0  247900.0

[260 rows x 66 columns]