In [ ]:
pip install yfinance

In [3]:
import yfinance as yf
import numpy as np
import statistics

1. Собрать данные по дневным ценам активов (акций) и дневным объемам продаж на заданном фондовом рынке за указанный период. Добавить (если нет) данные по индексу рынка

Данные по Китайской автомобильной компании $Lifan$ за 2018 год

### [Lifan](https://finance.yahoo.com/quote/601777.SS?p=601777.SS&.tsrc=fin-srch) Industry (Group) Co., Ltd (601777.SS)
#### Shanghai - Shanghai Delayed Price. Currency in CNY

In [4]:
lifan = yf.download("601777.SS", start="2017-12-29", end="2018-12-31")

[*********************100%***********************]  1 of 1 completed

In [5]:
lifan

            Open  High   Low  Close  Adj Close   Volume
Date
2017-12-29  7.21  7.27  7.17   7.26       7.26  4059468
2018-01-02  7.27  7.35  7.25   7.33       7.33  4667429
2018-01-03  7.32  7.36  7.26   7.34       7.34  6049583
2018-01-04  7.30  7.34  7.26   7.29       7.29  4343089
2018-01-05  7.32  7.35  7.28   7.31       7.31  4891203
...          ...   ...   ...    ...        ...      ...
2018-12-24  3.91  3.96  3.88   3.93       3.93  4023444
2018-12-25  3.89  3.89  3.76   3.86       3.86  6438724
2018-12-26  3.86  3.87  3.83   3.85       3.85  2944340
2018-12-27  3.91  3.93  3.73   3.73       3.73  4128800
2018-12-28  3.76  3.83  3.75   3.81       3.81  5080650

[244 rows x 6 columns]

" Индекс SSE Composite (Shanghai Stock Exchange Composite Index (SHCOMP) , кит. – 上海证券交易所综合股价指数, аббревиатура 上证综指) — один из ведущих индексов Шанхайской фондовой биржи (Shanghai Stock Exchange, SSE). Он включает в себя 1075 компаний, торгующихся по спискам «А» и «В»." - Добавить (если нет) данные по индексу рынка. (Как я понимаю - это данные можно считать за индекс китайского рынка)

## SSE Composite Index (000001.SS)
### [Shanghai](https://finance.yahoo.com/quote/000001.SS?p=000001.SS&.tsrc=fin-srch) - Shanghai Delayed Price. Currency in CNY

In [ ]:
shanghai = yf.download("601777.SS", start="2017-12-29", end="2018-12-31")

[*********************100%***********************]  1 of 1 completed

In [ ]:
shanghai

            Open  High   Low  Close  Adj Close   Volume
Date
2017-12-29  7.21  7.27  7.17   7.26       7.26  4059468
2018-01-02  7.27  7.35  7.25   7.33       7.33  4667429
2018-01-03  7.32  7.36  7.26   7.34       7.34  6049583
2018-01-04  7.30  7.34  7.26   7.29       7.29  4343089
2018-01-05  7.32  7.35  7.28   7.31       7.31  4891203
...          ...   ...   ...    ...        ...      ...
2018-12-24  3.91  3.96  3.88   3.93       3.93  4023444
2018-12-25  3.89  3.89  3.76   3.86       3.86  6438724
2018-12-26  3.86  3.87  3.83   3.85       3.85  2944340
2018-12-27  3.91  3.93  3.73   3.73       3.73  4128800
2018-12-28  3.76  3.83  3.75   3.81       3.81  5080650

[244 rows x 6 columns]

2. Преобразовать данные по ценам в данные по доходностям (используйте логарифмическую доходность). Вычислите оценки ожидаемых доходностей и стандартных отклонений и постройте «карту» активов в системе координат (σ, E).

PS σ - Risk, E - Expectation

$R_{log} (t + \Delta t) = \frac{P(t)}{P(t - \Delta t)}$

$\sigma(R) = \sqrt{\frac{\sum^n_{i=1} (r_i - \overline{r})^2}{n - 1}}$   

[NOTE ON SIMPLE AND LOGARITHMIC RETURN](https://core.ac.uk/download/pdf/161062652.pdf)

In [6]:
lifan['Log_R'] = np.log(lifan['Close'] / lifan['Close'].shift(1))
lifan = lifan.iloc[1:] ## удаляем лишнюю строку
n_rows = len(lifan)

In [7]:
lifan

            Open  High   Low  Close  Adj Close    Volume     Log_R
Date
2018-01-02  7.27  7.35  7.25   7.33       7.33   4667429  0.009596
2018-01-03  7.32  7.36  7.26   7.34       7.34   6049583  0.001363
2018-01-04  7.30  7.34  7.26   7.29       7.29   4343089 -0.006835
2018-01-05  7.32  7.35  7.28   7.31       7.31   4891203  0.002740
2018-01-08  7.37  7.55  7.37   7.46       7.46  11431439  0.020312
...          ...   ...   ...    ...        ...       ...       ...
2018-12-24  3.91  3.96  3.88   3.93       3.93   4023444  0.002548
2018-12-25  3.89  3.89  3.76   3.86       3.86   6438724 -0.017972
2018-12-26  3.86  3.87  3.83   3.85       3.85   2944340 -0.002594
2018-12-27  3.91  3.93  3.73   3.73       3.73   4128800 -0.031665
2018-12-28  3.76  3.83  3.75   3.81       3.81   5080650  0.021221

[243 rows x 7 columns]